!!! 5
/ Generated with Haml/Compass/Grunt
%html
  %head
    %title my littol playlist
    %meta{name: 'HandheldFriendly', content: true}
    %link{href: "http://creativecommons.org/licenses/by/3.0/", rel: "license", title: "Creative Commons Attribution 3.0 Unported License"}
    %meta{name:'viewport', content:'width=device-width, height=device-height, user-scalable=no'}
    %link{rel: 'shortcut icon', href:'favicon.ico', type:'image/x-icon'}
    %link{rel: 'stylesheet', href: 'style.css'}
  %body
    %header
      #tape
        .label
          .hole
          .hole
          .bottom
      %h1 my littol playlist
    %article 
      %ul.playlist
        %li{data-src: 'http://www.dealerofpeopleemotions.com/wordpress/wp-content/uploads/2011/10/Cant-Hold-Us-Feat.-Ray-Dalton.mp3'}
          %span.title  Can't Hold Us (feat. Ray Dalton)
          %span.artist Macklemore &amp; Ryan Lewis
        %li{data-src: 'http://a.tumblr.com/tumblr_mxvj7xm7gD1qictjlo1.mp3'}
          %span.title  Rather be (Feat. Jess Glynne)
          %span.artist Clean Bandit
        %li{data-src: 'http://a.tumblr.com/tumblr_lj73c641wk1qh1050o1.mp3'}
          %span.title  Skjut Mig i Huvet
          %span.artist Movits!
        %li{data-src: 'http://a.tumblr.com/tumblr_molp194c1k1sua3kro1.mp3'}
          %span.title  Alligator Sky (feat. Shawn Chrystopher)
          %span.artist Owl City
        %li{data-src: 'http://a.tumblr.com/tumblr_luq6wcPoa21r6alqpo1.mp3'}
          %span.title  Dog Days Are Over
          %span.artist Florence + the Machine
        %li{data-src: 'http://www.amoeba.com/dynamic-images/free-downloads/mp3/02Me-Time%28WithThePulmonaryPal.mp3'}
          %span.title  Me-Time (With The Pulmonary Palimpset)
          %span.artist Busdriver
        %li{data-src: 'http://a.tumblr.com/tumblr_lixri8kdBd1qct50ro1.mp3'}
          %span.title  Reckoning Song
          %span.artist Asaf Avidan &amp; The Mojos
        %li{data-src: 'http://a.tumblr.com/tumblr_lt609iNZvH1qec0kco1.mp3'}
          %span.title  One Twenty
          %span.artist Eyedea &amp; Abilities
        %li{data-src: 'http://ec-media.soundcloud.com/IYN06UlJMmj1.128.mp3?ff61182e3c2ecefa438cd02102d0e385713f0c1faf3b033959566af90800e813cdd41e54a5decca7897dff0d8752898bc0fe6fb46af525945eb4967f5e7330f6a04a0308e5&AWSAccessKeyId=AKIAJ4IAZE5EOI7PA7VQ&Expires=1393753765&Signature=EnQN4yDfS3jsP%2FYPiDrHtB%2Fb2Ok%3D'}
          %span.title  Sooner or Later
          %span.artist Shakka
        %li{data-src: 'http://a.tumblr.com/tumblr_m4lwcf1rrR1rnuaouo1.mp3'}
          %span.title  Brotherswing
          %span.artist Caravan Palace
        %li{data-src: 'http://avengethevirgins.net/audio/parov%20stelar%20monster%20(original%20version).mp3'}
          %span.title  Monster
          %span.artist Parov Stelar
        %li{data-src: 'http://r4.soundowl.com/3vhl.mp3'}
          %span.title  Same Love
          %span.artist Macklemore & Ryan Lewis
        %li{data-src: 'http://freedownloads.last.fm/download/154423652/Puma.mp3'}
          %span.title  Puma
          %span.artist Narkotiki
        %li{data-src: 'http://a.tumblr.com/tumblr_lnlbdxsw6i1qboz6oo1.mp3'}
          %span.title Savior
          %span.artist Rise Against
        %li{data-src: 'http://a.tumblr.com/tumblr_lyj22wT23j1rotobio1.mp3'}
          %span.title  My Heroine (acoustic)
          %span.artist Silverstein
        %li{data-src: 'http://s3.amazonaws.com/asset.diary.com/attachments/90242/05_Lazarus.mp3'}
          %span.title  Lazarus
          %span.artist Porcupine Tree
        %li{data-src: 'http://a.tumblr.com/tumblr_lb8uis5Hor1qdi4gfo1.mp3'}
          %span.title  Boy Kill Boy
          %span.artist Suzie
        %li{data-src: 'http://a.tumblr.com/tumblr_mlxll2CRBr1s1vxu4o1.mp3'}
          %span.title  I Will Follow You Into The Dark
          %span.artist Death Cab for Cutie
        %li{data-src: 'http://a.tumblr.com/tumblr_kuxac088gA1qa0r6to1.mp3'}
          %span.title  Sway Your Head
          %span.artist We Shot the Moon
        %li{data-src: 'https://a.tumblr.com/tumblr_m85vicrSKt1rb163bo1.mp3'}
          %span.title  Ain't No Rest For The Wicked
          %span.artist Cage the Elephant
        %li{data-src: 'http://a.tumblr.com/tumblr_ll8qzhEWpP1qk7w9jo1.mp3'}
          %span.title  Worlds Apart
          %span.artist The Mostar Diving Club
        %li{data-src: 'http://a.tumblr.com/tumblr_mp9mbmYAh61riu0s6o1.mp3'}
          %span.title  3 Foot Tall
          %span.artist Classified
    %footer
      %p
        Made with HAML/HTML5, SASS/CSS3 and Zepto.
      %p
        None of the files are hosted here. :3

    %script{src: 'http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js'}
    %script{src: 'player.js'}